@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


html {
	position: relative;
	min-height: 100%;
  }


html, body {
	/*
	height: 100%;
	width: 100%; */
	font-family: 'Open Sans', sans-serif;
	color: #222;
}


body {
	/* Margin bottom by footer height */
	/* must match footer.height */
	margin-bottom: 120px;
  }
 

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	/* must match body.margin-bottom */
	height: 120px;  
	padding-top: 20px;
	background-color: #3d7a8f; 
	color: #d5d5d5;
  }


section {padding:2rem;}
.bg-white {background-color:#ffffff;}
.bg-gray {background-color:#f8f8f8;}

.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 10px;
}
.nav-link{
	font-size: 1.1em;
}

.card-body{
	padding: .75em
}

.card-text{
	padding-top: 0.25 em; 
	padding-bottom: 0.25 em;
	margin-right: 0.25 em;
	margin-left: 0.25 em;
	margin-top: 0rem;
	margin-bottom: 0rem; 

}

div.figure {

  margin: .5 em;
  padding: 5em;

}


button.styled {
    /*border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
	*/
	font-size: 1.2rem;
    color: #3d7a8f;
	text-align: left;
}

button.styled:hover {
    color: #be6c00;
}
	
button.wide {

	display: block;
    width: 100%;
	/* height: 5rem; */
}

.card.styled {
	background-color: transparent;
	border: none;
}

.styled .card-header {
	background-color: transparent;
	border: none;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

a {
	color: #3d7a8f;
}

a:hover {
	color: #be6c00;
}

/* cadet color: #5f9ea0; #458aa1; #4d99b3; #5ea3ba; #70adc2; #6a9caf*/


hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1 rem; 
}


p.abstracttext{
	color: #535353;
	font-size: 1em;
	/*width: 100%;
	margin-top: .1 rem;
	margin-bottom: .1 rem; 
	text-align: center; */
	/*font-style: italic;*/
}

p.lighter {
	color: #d5d5d5;
	font-size: 0.5em;
	width: 100%;
	margin-top: .1 rem;
	margin-bottom: .1 rem; 
	text-align: center;
	font-style: italic;
}


footer a {
	color: #d5d5d5;
}

div #researchheader {
	display: flex;
	align-items: center;
	/* Remove the next line if you want the span to appear next to the h1 */
	justify-content: space-between;
	/*padding: 10px 30px;*/
  }

p.sameline { 
	display: inline;
	margin: 5em 0;
}

p.smallmargin { 
	margin: .3em 0;
}

/* Style all font awesome icons */
a.fa {
	padding: 20px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }
  
/* Style academicons https://jpswalsh.github.io/academicons/ */
a.ai {
	padding: 20px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }  
  

  