@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

section {padding:2rem;}
.bg-white {background-color:#ffffff;}
.bg-gray {background-color:#f8f8f8;}

.navbar {
	padding: .8rem;
}
.navbar-nav li {
	padding-right: 10px;
}
.nav-link{
	font-size: 1.1em;
}

.card-body{
	padding: .75em
}

.card-text{
	padding-top: 0.25 em 
	padding-bottom: 0.25 em
	margin-right: 0.25 em
	margin-left: 0.25 em
	margin-top: 0rem;
	margin-bottom: 0rem; 

}

div.figure {

  margin: .5 em;
  padding: 5em;

}



.styled {
    /*border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
	*/
	font-size: 1.2rem;
    color: #3d7a8f;
}

.styled:hover {
    color: #be6c00;
}



a {
	color: #3d7a8f;
}

a:hover {
	color: #be6c00;
}

/* cadet color: #5f9ea0; #458aa1; #4d99b3; #5ea3ba; #70adc2; #6a9caf*/
footer {
	background-color: #3d7a8f; 
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1 rem; 
}

p.lighter {
	color: #d5d5d5;
	font-size: 0.5em;
	width: 100%;
	margin-top: .1 rem;
	margin-bottom: .1 rem; 
	text-align: center;
	font-style: italic;
}

footer a {
	color: %d5d5d5;
}

